{{#if articles}}
<div class="article">
  <h1>Title: {{articles.title}}</h1>
  <h2>Body : {{articles.body}}</h2>
  <h2>Author: {{articles.author}}</h2>

</div>
{{else}}
  <h1>Article Not Found</h1>
{{/if}}
